.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App > div {
  margin-right: 25px;
}
.header {
  color: white;
}

.main {
  box-sizing: border-box;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.wrapper {
  box-sizing: border-box;
  min-width: 200px;
  min-height: 350px;
  margin: 15px;
  display: flex;
  text-decoration: none;
  background-color: rgba(99, 252, 87, 0.38);
  border-radius: 3%;
  border: 2px solid rgba(99, 241, 88, 0.83);
  padding: 8px;
  color: white;
}
.wrapper ul {
  list-style: none;
}
.wrapperBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapperBox h3 {
  display: flex;
  justify-content: center;
}


.btnBox {
  display: flex;
  justify-content: space-around;
}

.error {
  border: solid 2px red;
}

.errorMessage {
  color: #ec0b0b;
}


.active-filter {
  background-color: rgba(250, 0, 0, 0.50);
  border-radius: 5px;
}